#OneCall-div
{
    width: 90%;
    height: 7%;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color :#1D3A4D ; 
    font-family: 'Comfortaa';
    font-weight: bold;
    border-radius: 5px;
    border : 2px solid #1D3A4D ; 
    border-radius: 5px;
}



#OneCall-div img {

    width: 80px;
    height: 80px;

} 

